* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;

}

/*body {*/
/*  background: linear-gradient(to right, black 0.1%, #100d42 25%, #100d42 75%, black 99.99%);*/
/*}*/




